
<style>
    .toolbar-toolbar-div {
        width: 100%;
        height: 100%;

        border: 1px solid black;
        float: left;

    }

    .undo-div {
        height: 100%;
    }

    .icon-div {
        height: 100%;
        float: left;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

    }

    .icon {
        height: 100%;

    }

    #headers div {
        border: 1px solid black;
    }

</style>


<div class="toolbar-toolbar-div" >
    <div id="headers">
        <div class="icon-div" (click)="setHeader1()">
            <span class="icon">H<sub>1</sub></span>
        </div>
        <div class="icon-div" (click)="setHeader2()">
            <span class="icon">H<sub>2</sub></span>
        </div>
        <div class="icon-div" (click)="setHeader3()">
            <span class="icon">H<sub>3</sub></span>
        </div>
    </div>
    <div unselectable="on" class="icon-div" (click)="setBold();">
        <img src="/assets/bold.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setItalic();">
        <img src="/assets/italic.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setUnderline();">
        <img src="/assets/underline.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setStrikethrough();">
        <img src="/assets/strikethrough.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setBulletList();">
        <img src="/assets/bullet_list.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setNumberedList();">
        <img src="/assets/numbered_list.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setDeIndent();">
        <img src="/assets/de_indent.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setIndent();">
        <img src="/assets/indent.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setLink();">
        <img src="/assets/link.png" class="icon" />
    </div>
    <div unselectable="on" class="icon-div" (click)="setCode();">
        <img src="/assets/code.png" class="icon" />
    </div>
</div>