
<style>
    .toolbar-toolbar-div {
        width: 100%;
        height: 100%;

        border: 1px solid black;
        float: left;

    }

    .undo-div {
        height: 100%;
    }

    .icon-div {
        height: 100%;
        float: left;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;

        /*
            Introduced in Internet Explorer 10.
            See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
        */
        -ms-user-select: none;
        user-select: none;

    }

    .icon {
        height: 100%;

    }

</style>


<div class="toolbar-toolbar-div" unselectable="on" (mousedown)="preventFocus($event)">
    <div class="undo-div icon-div">
        <img src="/assets/undo.png" class="icon" (click)="undo()" />
    </div>
    <div class="redo-div icon-div">
        <img src="/assets/redo.png" class="icon" (click)="redo()" />
    </div>
    <div unselectable="on" class="bold-div icon-div">
        <img src="/assets/bold.png" class="icon" (click)="$event.preventDefault(); setBold();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/italic.png" class="icon" (click)="$event.preventDefault(); setItalic();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/underline.png" class="icon" (click)="$event.preventDefault(); setUnderline();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/strikethrough.png" class="icon" (click)="$event.preventDefault(); setStrikethrough();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/bullet_list.png" class="icon" (click)="$event.preventDefault(); setBulletList();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/numbered_list.png" class="icon" (click)="$event.preventDefault(); setNumberedList();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/de_indent.png" class="icon" (click)="$event.preventDefault(); setDeIndent();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/indent.png" class="icon" (click)="$event.preventDefault(); setIndent();" (focus)="$event.preventDefault();"/>
    </div>
    <div unselectable="on" class="icon-div">
        <img src="/assets/link.png" class="icon" (click)="$event.preventDefault(); setLink();" (focus)="$event.preventDefault();"/>
    </div>
</div>