
<style>
    .custom-container {
        --toolbar-height: calc(100vh / 30);
    }

    .fill {
        min-height: 100%;
        height: 100%;
    }

    .top-margin {
        height: calc((100vh / 10) - var(--toolbar-height));
        background-color: white;
    }

    .toolbar-div {
        height: var(--toolbar-height)
    }

    .bottom-margin {
        height: calc(100vh / 10);
        background-color: white;
    }


    .text-field {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0; /* Background color for the text field */
    }

    .text-field div {
        width: 90%; /* Adjust as needed */
        height: 90%; /* Adjust as needed */
        padding: 10px;
        border: none;
        outline: none;
        resize: none;
        background-color: transparent; /* Transparent background for the textarea */
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        white-space: pre;
    }

    .full-height {
        height: calc(100vh / 10*8); /* Adjust to leave some space for margins */
        resize: none;
        box-sizing: border-box;
    }
    
    .code {
        font-family: "courier new";
        color: crimson;
        background-color: #ffffff;
        padding: 2px;
        font-size: 105%;
    }
</style>

<div class="container-fluid h-100 custom-container">
    <div class="row h-100 " id="textarea-row">
        <div class="col-2"></div>
        <div class="col-8 h-100 fill ">

            <div class="row top-margin"></div>

            <div class="toolbar-div">
                <app-toolbar (commandEmitter)="markdownCommandHandler($event)"></app-toolbar>
            </div>

            <div class="row">
                <div class="text-field form-control full-height">
                    <div #textArea
                        contenteditable="true"
                        spellcheck="false" 
                        (input)="change()"
                        (keydown.tab)="$event.preventDefault(); insertTab();"
                    ></div>
                </div>
            </div>
            <div class="row bottom-margin"></div>
        </div>

        <div class="col-2"></div>
    </div>
</div>

<ng-template #linkModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Insert link</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="linkForm">
        <div class="form-group">
            <label for="link">Link</label>
            <input ngbAutoFocus type="url" formControlName="link" name="name" class="form-control" id="link" placeholder="URL" formControlName="link" />
            <br>
            <label for="placeholder">Placeholder</label>
            <input type="text" (keyup.enter)="modal.close('Enter click');" formControlName="placeholder" class="form-control" id="placeholder" placeholder="Placeholder" formControlName="placeholder"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save button');">Insert</button>
    </div>
</ng-template>
  