
<style>
    .wrapper {
        height: 100vh;
    }

    .toolbar-div {
        max-height: 200px;
    }

    .fixed-row {
        min-height: 100px; /* Height for the fixed rows */
    }

    .text-field {
        width: 100%;
        /* display: flex; */
        background-color: #f0f0f0; /* Background color for the text field */
    }

    .text-field > div {
        padding: 10px;
        border: none;
        outline: none;
        resize: none;
        background-color: transparent; /* Transparent background for the textarea */
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        white-space: pre;
    }

    #misc {
        margin-top: 30px;
        margin-bottom: 10px;
        display: flex;
    }

    #misc > div {
        display: flex;
    }

    .back-button {
        border: none;
        background-color: white;
        max-height: 50px;
        max-width: 50px;
        display: flex;
    }

    .back-button > img {
        display: absolute ;
        max-height: 100%;
    }

    .title {
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }

</style>

<div class="container-md">
    <div class="row" id="misc">
        <div class="col-2">
            <button class="back-button" (click)="this.router.navigate(['/'])">
                <img src="/assets/back.png" alt="Back button">
            </button>
        </div>
        <div class="col-8 title">
            <h1 #title 
                contenteditable="true" 
                spellcheck="false"
                (input)="change()"
            ></h1>
        </div>
        <div class="col-2"></div>
    </div>
    <hr>
    <div class="row">
        <app-toolbar (commandEmitter)="markdownCommandHandler($event)"></app-toolbar>
    </div>
    <div class="row mt-3">
        <div class="text-field form-control full-height">
            <div #textArea
                contenteditable="true"
                spellcheck="false" 
                (input)="change()"
                (keydown.tab)="$event.preventDefault(); insertTab();"
            ></div>
        </div>
    </div>
</div>

<ng-template #linkModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Insert link</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="linkForm">
        <div class="form-group">
            <label for="link">Link</label>
            <input ngbAutoFocus type="url" formControlName="link" name="name" class="form-control" id="link" placeholder="URL" formControlName="link" />
            <br>
            <label for="placeholder">Placeholder</label>
            <input type="text" (keyup.enter)="modal.close('Enter click');" formControlName="placeholder" class="form-control" id="placeholder" placeholder="Placeholder" formControlName="placeholder"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save button');">Insert</button>
    </div>
</ng-template>
  