<style>
    .note-entry {
        margin-top: 20px;
    }

    .note-element {
        border-radius: 25px;
        background: #c2c2c2;
        min-height: 100px;
    }

    .note-title {
        padding-top: 10px;
    }

    .note-author {
        color: rgb(81, 81, 81);
    }
</style>

<div class="container">
    <div class="space"></div>

    <div class="row top-elements">

    </div>

    @for (note of notes; track $index) {
        <div class="row note-entry">
            <div class="col-2 padding"></div>

            <div class="col-8 card card-body note-element">
                <h2 class="card-title">{{note.title}}</h2>
                <p class="card-text">{{user_name}}</p>
                <a href="{{'/edit/' + note.id}}" class="stretched-link"></a>
            </div>
            <div class="col-2 padding"></div>
        </div>
    }

</div>